.box{
    background-color: green;
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    flex-wrap:wrap;
    /* align-items: center; */
}
.item{
    width: 80px;
    height: 100px;
    background-color: orange;
    border: 2px solid red;
    text-align: center;
    align-content: center;
}