@media (max-witdh: 1200px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-witdh: 992px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-witdh: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}