* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.startBtn-container {
    text-align: center;
    margin-bottom: 20px;
}

#startBtn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#startBtn:hover {
    background: #66bb6a;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.left-side {
    min-width: 480px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 12px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-gap: 8px;
    width: fit-content;
}

.right-side {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#timer-box {
    background-color: hwb(143 74% 3%);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

#timer-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

#timer {
    font-size: 36px;
    font-weight: bold;
}

#guide {
    background: #fafafa;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#guide i, span {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
}

.tile {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.empty {
    background: #212121 !important;
    color: transparent !important;
    cursor: default;
}

#history-box {
    background: #fafafa;
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
}

#history-box h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #f0f0f0;
}
