* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: end;
    padding: 40px 80px 0;
    background-color: #F9FCFF;
    /* gap: 295px; */
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 48px;
    width: 444px;
    height: 25px;
    margin-bottom: 15px;
}

.header-list-item {
    height: 25px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.header-item a {
    text-decoration: none;
    color: black;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 367px;
    height: 55px;
}

.cart {
    width: 23px;
    height: 23px;
}

.search-container {
    width: 320px;
    height: 55px;
    padding: 16px 80px 16px 16px;
    border-radius: 8px;
    border: 1px solid #EBEFF6;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchBar {
    width: 50px;
    height: 20px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #1A2434;
    opacity: 0.4;
}

.content {
    height: 826px;
    padding: 80px;
    background-color: #F9FCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 624px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* .left-section:nth-child(1) {
    height: 144px;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
}

.left-section:nth-child(2) {
    height: 72px;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
}

.left-section:nth-child(3) {
    height: 96px;
}

.left-section:nth-child(4) {
    height: 77px;
}

.left-section:nth-child(5) {
    height: 82px;
} */